.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 300px;
  grid-template-areas:
    "header header header"
    "asideleft article asideright"
    "footer footer footer";
}

body {
  margin: 3%;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  background-color: blanchedalmond;
  color: darkolivegreen;
}

h1 {
  font-size: 14px;
  color: rgb(117, 117, 181);
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
p {
  text-align: center;
}
.footer {
  text-align: center;
}
